body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg,#e6d8ff,#fbe4f0);
  color: #4b2c6f;
  text-align: center;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
}

#yesBtn { background: #c084fc; color: white; }
#noBtn { background: #f472b6; color: white; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 40px 0;
}

.gallery img, .gallery video {
  width: 280px;
  border-radius: 20px;
  cursor: pointer;
}

#modal {
  display: none;
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#modal img, #modal video {
  max-width: 90%;
  max-height: 70%;
  border-radius: 20px;
}

#modal p {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}
